/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

/* No seu styles.css ou dentro do componente com ViewEncapsulation.None */
.toggle {
  appearance: none;
  width: 40px;
  height: 20px;
  background-color: #cbd5e1;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.toggle:checked { background-color: #071e3d; }
.toggle::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}
.toggle:checked::before { transform: translateX(20px); }